.btn {
    width: 100%;
    background: #BD7800;
    border: unset;
    border-radius: 50px;
    font-size: 1.4rem;
    padding: 0.8em 1.5em;
    color: #FBFFF8;
    text-transform: uppercase;
    font-weight: 600;
    transition: background 250ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.btn:hover, .btn:focus {
    background: #6B9772;
    transition: background 250ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    
}