footer {
    width: 100%;
    background: #D0BE9E;
    text-align: center;
    color: #221500;
    padding: 1em 0.5em;
    flex-shrink: 0;
    /* position: fixed;
    bottom: 0; */
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: #221500;
    font-weight: 600;
}

.link:hover, .link:focus {
    color: #0B3B2F;
}