.form-container {
    margin-top: 4.2em;
    
}

.form-label {
    font-size: 1.4em;
    color: #FBFFF8;
}

.form-items {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 1.9em;
}

.form-input {
    display: block;
    align-self: center;
    font-size: 1.4rem;
    padding: 0.8em 1.5em 0.8em 3em;
    width: 100%;
    border-radius: 50px;
    border: unset;
}

.icon-search {
    position: absolute;
    margin-left: 0;
}

.note {
    text-align: center;
}