.form-container {
    margin-top: 4.2em;
    
}

.form-label {
    font-size: 1.4em;
    color: #FBFFF8;
    text-align: center;
}

.asterisk {
    color: #BD7800;
}

.form-items {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 1.9em;
    position: relative;
}

.form-input {
    display: block;
    align-self: center;
    font-size: 1.4rem;
    padding: 0.8em 1.5em 0.8em 3em;
    margin-bottom: 1em;
    width: 100%;
    border-radius: 50px;
    border: unset;
    color: #221500;
    ;
}

.icon-search {
    position: absolute;
    color: hsla(38, 100%, 7%, 0.87);
    top: 1.25em;
    left: 1.2em;
}

.note {
    text-align: center;
}