/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: #0B3B2F;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 2em 0;
  margin: 0 auto;
  max-width: 850px;
  flex-grow: 1;
  /* background: red; */
}

/* Media Queries */
@media screen and (min-width: 1100px) {
  .wrapper {
    /* background: #E1E9DB; */
    background-color: #e1e9db;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23bd7800' fill-opacity='0.12'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  }

  .container {
    flex-direction: row;
    /* border: 1px solid red;
    background: orange; */
    margin: 3em auto;
    padding: 0;
    width: 80%;
    max-width: 1000px;
    align-items: stretch;
  
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:#FBFFF8;
    flex: 1;
    padding: 2em 4.5em;
  }
}